<h1>orders#new</h1>
<%= form_for(@order) do |f| %>
  <%= f.label :total %>
  <%= f.number_field :total %>
  <%= f.label :items %>
  <%= f.text_field :items %>
  <%= f.label :delivery_address %>
  <%= f.text_field :delivery_address %>
  <%= f.label :contact_information %>
  <%= f.text_field :contact_information %>
  <%= f.submit %>
<% end %>